

body {
  font-family: arial;
  font-size: 12px;
  color: #666;
}

#tamar {
 
 height: 125px;
  width: 125px;
  background-image: url(../images/rsz_screen_shot_2019-03-08_at_71540_pm.jpg)
  
  
}

/*INGREDIENTS FORM */

#div-that-holds-checkboxes {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: column;
}

/*RECIPE CARD */
#recipe-output .card {
  background-color: #000000;
  color: #ffffff;
  border: 2px #c2b943 solid;
  overflow: hidden;
  width: 40vw;
  margin-top: 50px;
  margin: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 5px;
 
} 
#recipe-output {
  display: flex;
  flex-wrap: wrap;
}
/* DRINK NUMBER */
.drinkNumber {
  font-size: 3.5em;
  font-weight: 900;
  font-family: "Arvo", serif;
}
/* DRINK NAME */
.drink-name {
  font-size: 3em;
  font-weight: 900;
  font-family: "Merriweather", serif;
}

/* DRINK COMBO MEASURE */
.drink-howTo {
  margin-top: 2em;
  margin-bottom: 3em;
}

.drink-comboMeasure {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1;
}

/* DRINK INSTRUCTION */
.drink-instructions {
  font-size: 1.5em;
  font-weight: 400;
  font-family: "Slabo 27px", serif;
}
.drink-images {
  max-height: 100px;
  max-width: 100px;
}

/*MEDIA QUERIES FOR RECIPE */
@media only screen and (max-width: 800px) {
  .drinkNumber,
  .drink-name {
    font-size: 2.5em;
  }
  
}

@media only screen and (max-width: 500px) {
  .drinkNumber,
  .drink-name {
    font-size: 1.5em;
  }
  #recipe-output .card {
    width: 80vw;
  }
}


/*CONTACT FORM */

form {
  width: 500px;
  background: white;
  padding: 20px 25px;
  margin: auto;
  margin-top: 30px;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
}
form input,
form textarea {
  font: inherit;
  padding: 5px 5px;
  width: 100%;
  margin-top: 3px;
  margin-bottom: 15px;
  box-sizing: border-box;
}
form button {
  border: 1px solid rgba(0,0,0,0.2);
  padding: 8px 35px;
  font-size: 12px;
  background: #888;
  color: white;
}
form label {
  color: #777;
  font-size: 11px;
  margin-bottom: 2px;
  display: block;
}


.card {
  width: 90vw;
  margin: 0 auto;
}

.card-img-top {
  max-width: 100%;
  max-height: 20%;
}

#blog-header {
  font-weight: bolder;
  font-size: 4em;
}

/* GLOBAL */
.container {
    margin: auto;
  }
  .btn {
    cursor: pointer;
    color: #ffffff;
    background-color: #8f5a21;
    border-color: #826505;
    font-size: 12px;
    border-radius: 0;
    font-weight: 800px;
    letter-spacing: 2px;
    white-space: inherit;
    text-transform: uppercase;
  }
  
  /* HEADER */
  .header {
    background-color: #000000;
    width: 100%;
    min-height: 75px;
    padding: 40px 30px 20px 30px;
    position: fixed;
    
  }
  .header h1 {
    color: #ffffff;
    font-size: 25px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    float: left;
  }
  .header ul {
    text-align: right;
    float: right;
  }
  .header ul li {
    color: #ffffff;
    display: inline;
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
    font-size: 15px;
  }
  
  .parent {
    width: 100vw; 
    height: 100%;
    padding: 2em;
    margin: 0 auto;
  }
  
  .child {
    width: 80vw;
    height: 65%;
    background-color: black; /* fallback color */
    background-image: url("../images/TAJumbotron.jpg");
    background-position: center;
    background-size: cover;
    transition: all .8s;
    margin: 0 auto;

  }

  .parent:hover .child,
.parent:focus .child {
  transform: scale(1.15);
}



.top-button {
    width: 30%;
    min-height: 4em;
    padding: 3em;
}

.spacer {
    height: 2em;
    width: 100%;
}

.gallery-button  {
  display: block;
  width: 30vw;

}

#navigation {
  background-color: black;
}

#gallery-header {
  font-size: 3em;
}
  
  /* JUMBOTRON */
  .jumbotron {
    margin: 0;
    padding-top: 3em;
   background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/TAJumbotron.jpg);
    background-size: cover;
    min-height: 600px;
  }
  #jumbotron-title {
    color: #ffffff;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    float: left;
    width: 50%;
  }
  #jumbotron-message {
    color: #ffffff;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 200px;
    padding-bottom: 15px;
    line-height: 2;
    letter-spacing: 2px;
    width: 50%;
  }
  /* SERVICE AREA SECTION */
  section {
   width: 100%;
   background-color: #000000;
   min-height: 400px;
   margin: 0;
  }
  .area-title {
    text-align: center;
    font-size: 30px;
    color: #ffffff;
    padding-top: 30px;
    padding-bottom: 15px;
  }
  .area-description {
    text-align: center;
    font-size: 15px;
    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  section h3 {
    margin: 0;
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 10px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
  }
  section p {
    margin: 0px;
    font-size: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
  }
  .service-btn-row {
    text-align: center;
  }
  .service-btn {
    margin-top: 20px;
    margin-bottom: 50px;
  }
  
  /* TEAM MEMBER AREA */
  .team-area {
    min-height: 1200px;
    background-color: #000000;
    width: 100%;
    padding-top: 50px;
  }
  .team-area-title {
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 2;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .team-area-description {
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 2;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 50px;
    line-height: 2;
  }
  .team-member-list {
    padding-top: 100px;
    padding-bottom: 20px;
  }
  .team-member-list a {
    text-decoration: none;
  }
  .team-member-list .col-lg-4 {
    width: 33.33%;
    text-align: center;
  }
  .team-member-list .member-meta h4 {
    font-size: 20px;
    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 10px;
  }
  .team-member-list .member-meta p {
    font-size: 15px;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 15px;
  }
  
  
  