<div class="team-area">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <h2 class="team-area-title">Meet the team</h2>
              <p class="team-area-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Doloremque, facere illo. 
              </p>
            </div>
          </div>
  
          <div class="row team-member-list">
            <div class="col-lg-4">
              <a href="home.html" class="team-member" data-toggle="modal">
                <div class="member-avatar">
                  <img src="/images/expensive.jpg" alt="team member" />
                </div>
                <div class="member-meta">
                  <h4>Caitlyn</h4>
                  <p>Web Developer</p>
                </div>
              </a>
            </div>
            <div class="col-lg-4">
              <a href="#" class="team-member" data-toggle="modal">
                <div class="member-avatar">
                  <img src="#" alt="team member" />
                </div>
                <div class="member-meta">
                  <h4>Morgan</h4>
                  <p>Web Developer</p>
                </div>
              </a>
            </div>
            <div class="col-lg-4">
              <a href="#" class="team-member" data-toggle="modal">
                <div class="member-avatar">
                  <img src="#" alt="team member" />
                </div>
                <div class="member-meta">
                  <h4>Meron</h4>
                  <p>Web Developer</p>
                </div>
              </a>
            </div>
          </div>
          <div class="row team-member-list">
            <div class="col-lg-4">
              <a href="#" class="team-member" data-toggle="modal">
                <div class="member-avatar">
                  <img src="#" alt="team member" />
                </div>
                <div class="member-meta">
                  <h4>DeeDee</h4>
                  <p>Web Developer</p>
                </div>
              </a>
            </div>
            <div class="col-lg-4">
              <a href="#" class="team-member" data-toggle="modal">
                <div class="member-avatar">
                  <img src="#" alt="team member" />
                </div>
                <div class="member-meta">
                  <h4>Tamar</h4>
                  <p>Web Developer</p>
                </div>
              </a>
            </div>
            <div class="col-lg-4">
              <a href="#" class="team-member" data-toggle="modal">
                <div class="member-avatar">
                  <img src="#" alt="team member" />
                </div>
                <div class="member-meta">
                  <h4>TBD</h4>
                  <p>Web Developer</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>