<div class="card" >
    
    <div class="card-body">
      <h5 class="card-title text-center" id="blog-header">Stocking your home bar for approximately $100US</h5>
      <p class="card-text">Here at Be Your Own Bartender we realize that not everyone knows where to begin.  To that end, we’re offering a guide for how to stock your home bar with spirits without breaking the bank.

        The essential breakdown is as follows:
        
        Item #1:  $50 - One Bottle of Something you Love: whatever the genre of alcohol happens to be.  This should be something good enough to drink neat or on the rocks that does not need a mixer.  At this price point, it also might be something that wouldn’t necessarily be a crime against good taste to mix (within reason).   There are wonderful bourbons in this range, a few good scotches and Irish whiskeys, and some excellent rums.  If you happen to be a vodka snob, Grey Goose or Chopin are well within range here.  This is the “impress your boss” bottle.
        
        Item #2: $20-$25 each: Two bottles of base liquors:  If you didn’t opt for a high-end vodka in the above category, this is where you pick up a bottle of Smirnoff, Absolut, Svedka, or New Amsterdam.  Do not buy swill.  Under no circumstances should you own any bottle that you’d be embarrassed by.  The point here is to have something that would go well in a basic cocktail.  We recommend something other than your prize bottle.  If you got vodka for your favorite, this is where you get rum and bourbon.  If you got a good bourbon, this is where you might get vodka, gin, or rum.  You might have noticed that we said vodka more than once.  That’s because it’s among the most flexible options.  For these, we recommend brands like Jim Beam for bourbon, Bacardi for rum, or Beefeater for gin.  All good respectable quality spirits, all generally available at this range.
        
        Item #3: $5-7 a small bottle of red or white vermouth: If the bottle you love is a scotch or bourbon, get red.  If it’s a vodka or gin, get white.  If it’s a rum, tequila, or other non-martini family spirit, we’d opt for having red.  The reasoning is that you want the option of making a good martini, Manhattan, or Rob Roy with your favorite bottle (typically base spirit + a very small amount of vermouth) while also having a lighter beverage that’s good enough to drink alone/on the rocks.  Vermouth on its own tends to be more of a European drink but Americans shouldn’t ignore it as a viable option.
        
        OPTIONAL: A bottle of a mixable liqueur: to stay within the $100 total range, we recommend replacing one of the bottles in Item #2 with a bottle of something like Kaluha, Amaretto, or a Peach Schnapps.  Again, much like your Vermouth, this should be something good enough to drink alone, but it should also mix well with your scotch or vodka option.  If you want to expand your options and feel like spending a bit more, we won’t stop you.  But remember the goal hear is to stock your bar for around a hundred bucks.
        
        What the above should do for you is give you enough options to make a wide range of simple drinks, while having 2-3 options good enough to drink alone.  If you’re entertaining, you have the ability to offer your guests a range of options.  Wild parties aside, this also sets up a baseline that can last you a while.
        
        EXAMPLE:
        
        The Top Shelf Bottle You Love: Woodford Reserve Bourbon ($47) - well worth drinking neat or with a single ice cube, not too much of a sin to add a splash of ginger ale.  Also makes a great Manhattan with your vermouth.
        
        Your Mixing Spirits: 
        
        Smirnoff Vodka ($23) - Mixable with juices, tonic, soda, or as the spirit in a Bloody Mary.  A workhorse that won’t break the bank.
        
        Bacardi Rum ($20) - Great with Coke, good basis for a daiquiri or a pina colada, also not bad on it’s own with ice (though really this is a mixer).
        
        Martini Red Vermouth ($6) - This is what you’d use to make that Woodford Reserve into a Manhattan, and is also good enough to drink on its own for a lighter option  (rocks or no).  Keep in mind that vermouth is really a fortified wine as opposed to a distilled spirit, so it’s going to have a lower alcohol content.
        
        If you opt for replacing the rum with amaretto or Kaluha, you now have the option of White Russians (Vodka, Kaluha, and milk/cream), Black Russians (lose the milk), or Sombreos (lose the vodka), as well as a liqueur that stands alone.  
        </p>
      <div class="text-center">
      <a href="#home" class="btn">Go Back to Main Page</a>
      </div>
    </div>
  </div>