<style>
    img {max-height:125px; margin:3px; border:1px solid #dedede;}
    </style>
 


 <div class="card" style="width: 80vw">
        
        <div class="card-body">
                <p id="gallery-header">Epic Fail? Great Success? Check Out Others' Drink Creations</p>
          <h5 class="card-title"><div id="galleryTitle"></div></h5>
          <div id="flickr"> 
         <div id="sendphotos">
                <button onclick="getGallery()" class= "gallery-button btn" id="gallery-click">Get Some Drinkspiration</button>
        </div>
      </div>

      



    
    



  
  
      