<style>
    img {max-height:125px; margin:3px; border:1px solid #dedede;}
    </style>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>



<p id="gallery-header">Epic Fail? Great success? We want to see your drink creations</p>
<h2><div id="galleryTitle"></div></h2>
<!--<div style="clear:both;"> -->
<div id="flickr"> 
<div id="sendphotos">
<button onclick="getGallery()" class= "gallery-button" id="gallery-click">Click Here to See Others' Creations</button>

<button class = "gallery-button"> Send Us Your Creation  to Be Featured in Our Gallery</button>


    
    



  
  
      