



<h2 class="text-center">Pick Your Poison!</h2>
<div class="ingredients-container text-center">
  <div onclick="getData()"  id="div-that-holds-checkboxes">
    <h3><input type="checkbox" name="liquor" value="Scotch" /> Scotch<br /></h3>
    <h3><input type="checkbox" name="liquor" value="Rum" /> Rum<br /></h3>
    <h3><input type="checkbox" name="liquor" value="Vodka" /> Vodka<br /></h3>
    <h3><input type="checkbox" name="Liquor" value="Bourbon" /> Bourbon<br /></h3>
    <h3><input type="checkbox" name="Liquor" value="Gin" /> Gin<br /> </h3>
    <h3><input type="checkbox" name="Liquor" value="Tequila" /> Tequila<br /> </h3>
    <h3><input type="checkbox" name="Liquor" value="Brandy" /> Brandy </h3>
    
  </div>
  <button class="btn" id="submit" >Get Your Recipes</button>
</div>
<div id="recipe-output">