<nav class="navbar navbar-expand-lg navbar-dark " id="navigation">
       
        
        <div class="navbar" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#home">Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#ingredients">Pick Your Drink</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#gallery">Drinkspiration</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#blog">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#onepage">View as One Page</a>
            </li>
          </ul>
        </div>
      </nav>
      
      
      
      
    
